<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur3e_workcell">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <!-- Passed through from ur_control launch (enables mock hardware for fake/sim mode) -->
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>

  <!-- World frame -->
  <link name="world"/>

  <!-- Table mount point fixed in world -->
  <link name="table_mount"/>
  <joint name="world_to_table_mount" type="fixed">
    <parent link="world"/>
    <child link="table_mount"/>
    <origin xyz="0.365 0.355 1.0" rpy="0 0 0"/>
  </joint>

  <!-- UR3e mounted on table -->
  <xacro:ur_robot
    name="ur3e"
    tf_prefix=""
    parent="table_mount"
    joint_limits_parameters_file="$(find ur_description)/config/ur3e/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/ur3e/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/ur3e/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur3e/visual_parameters.yaml"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

</robot>